*,
*::before,
*::after{
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#playersPics{
    display: flex;
    height: 15%;
    justify-content: center;

}
body{
    margin: 0; padding:0;
    font-family: "Gotham",Arial, Helvetica, sans-serif;
    height: 100vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mainButtonsCont{
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.list{
    display: flex;
    list-style: none;
    height: 100px;
}



#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#computerChoose{
    height: 60%;
    
}

.chooseButton{
    height: 50%
}

img{
    height: 100%;
    width: 100%;
}

#titleScreenContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#gameContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
}

#gameCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

#selectionsContainer{
    display: flex;
    flex-direction: column;
}

#scoreContainer{
    display: flex;
    flex-direction: column;
    
}
